<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>文章详情</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/quill.core.css"/>
    <link rel="stylesheet" href="../static/quill.snow.css"/>
    <link rel="stylesheet" href="../static/quill.bubble.css"/>
</head>
<body>
<div  th:utext="${article}"></div>
</body>
</html>